extends layout 

block content
    .row.banner
        .col-12
            h1= title
            p 2019250054 차기석
    .row
        .col-12.col-lg-8
        p !{(content).replace(/\n/g, '<br />')}